/* src/styles/Layout.module.css */
.container {
  display: flex;
  min-height: 100vh;
  background-color: #f7f9fc; /* Fundo geral */
}

.content {
  flex-grow: 1;
  padding: 30px;
  /* Margem para não colidir com o cabeçalho se houver um fixo */
  margin-left: 280px; /* Largura da sidebar */
}